{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img src="{% static 'image/banner.jpg' %}" height="400px" width="1350px">
</div><br>
<div class="container-fluid">
    <h3 class="text-center fw-bold">Our Collections</h3>
    <p style="text-align:justify;padding:50px;">A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.
    Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service.</p>
</div>
<div class="container">
    <div class="row" style="padding-bottom:100px" >
        {% for i in c %}
        <div class="col-sm-4">
            <div class="card" style="width: 21rem;">
                <img src="{{i.image.url}}" class="card-img-top" alt="..." height="230px" >
                <div class="card-body">
                    <center><h5 class="card-title"><b>{{i.name}}</b></h5></center>
                    <p class="card-text">{{i.desc}}</p>
                    <a href="{% url 'shop:allproducts' i.name %}" class="btn btn-primary" style="width:200px;margin-left:50px;">Products</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}